*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.create-post-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px ;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.create-post-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-post-section input,
.create-post-section textarea{
  margin: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  
}

.create-post-section button{
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.feed-section{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap:20px ;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
}

.post-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-card img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.post-card h3{
 margin-bottom: 10px;
}